<main>
  <h1>Veterinarios</h1>
  <div class="tarjeta" *ngFor="let elemento of lista">
    <div class="imagen"></div>
    <div>
      <p><b>Nombre:</b> {{elemento.nombre}}</p>
      <p><b>Email:</b> {{elemento.email}}</p>
      <p><b>Telefono:</b> {{elemento.telefono}}</p>
    </div>
  </div>
</main>

<div class="container">
  <div class="box">
    <img src="/assets/img/img1.jpg" alt="">
  </div>
  <div class="box">
    <img src="/assets/img/img2.jpg" alt="">
  </div>
  <div class="box">
    <img src="/assets/img/img3.jpg" alt="">
  </div>
  <div class="box">
    <img src="/assets/img/img4.jpg" alt="">
  </div>
  <div class="box">
    <img src="/assets/img/img5.jpg" alt="">
  </div>
  <div class="box">
    <img src="/assets/img/img6.jpg" alt="">
  </div>
  <div class="box">
    <img src="/assets/img/img7.jpg" alt="">
  </div>
</div>